@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Nav bar */
.navbar-container{
    background-color: #1f2937;
    color: whitesmoke;
    height: auto;
}
.navbar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

/* logo */

.logo-container{
    font-family: 'Courgette', cursive;
    font-size: 60px;
}

/* nav-bar-list */

.nav-bar-list{
    display: flex;
    flex-wrap: wrap;
}

.list-items{
    padding: 0.25rem 1rem;
    font-size: 1rem;
    
}

.list-items:hover{
    color: yellow;
    cursor: pointer;
}

/* Home */
.heading{
    font-family: 'Roboto Slab', serif;
}

.home-left-box-heading{
    font-weight: 400;
}

