@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

a{
    color: var(--light-blue);
}

.contact-a{
    color: rgb(13, 2, 35);
}

.heading1{
    width: 80%;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 0rem 0rem 3rem 0rem;
}
:root{
    --light-blue: aqua;
    --bg-blue: rgb(168, 231, 231);
}

/* Nav bar */
.navbar-container{
    background-color: #1f2937;
    color: var(--light-blue);
    position: fixed;
    width: 100%;
}
.navbar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

/* logo */

.logo-container{
    font-family: 'Rubik Marker Hatch', cursive;
    line-height: 27px;
    padding: 1rem 0px;
    float: left;
}

.first{
    font-size: 33px;
}

.second{
    font-size: 48px;
}

/* nav-bar-list */

.nav-bar-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    flex-wrap: wrap;
}

.list-items{
    font-size: 1rem;
    padding: 0.3rem 1rem;
    
}

.list-items:hover{
    color: rgb(70, 78, 235);
    cursor: pointer;
    border-color: transparent;
}

/* Home */

.home-container{
    background-image: url(https://i.pinimg.com/736x/30/8f/2f/308f2fd627c36e007527bc50337f6c7b.jpg);
    background-size: cover;
}
.home-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.heading{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.home-left-box-heading{
    font-weight: 400;
}
.left-box{
    color: white;
    height: 843px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}

.dp-image{
    width: 20rem;
    border-radius: 50%;
    padding: 10rem 1rem;
}

.home-page-button{
    padding: 0.25rem 0.5rem;
    color: white;
    background-color: blue;
    border-radius: 0.35rem;
    font-weight: 900;
    font-size: 1rem;
}

.home-page-button:hover{
    color: blue;
    background-color: white;
}

/* skill */

.skill-container{
    background-color: aliceblue;
    padding: 3rem 0rem;
}

.skill-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
}

/* card */
.card{
    width: 15rem;
    height: 15rem;
    border: solid 2px goldenrod;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px black;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon{
    width: 80%;
    height: 70%;
    font-size: 8rem;
    text-align: center;
}

.para{
    font-size: 1.5rem;
    font-weight: bold;
}

/* project */

.project-container{
    padding: 5rem 0rem;
}

.project-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.bigcard{
    height: auto;
    width: 22rem;
    border: solid 3px goldenrod;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 10px black;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    
}

/* Quotes */

.quote-container{
    padding: 3rem 0rem;
    background-color: aliceblue;
}

.quote-card{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.quote-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.quote-card{
    width: 24rem;
    height: auto;
    border: goldenrod 3px solid;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(35, 18, 18);
    justify-content: space-between;
    align-items: center;
}

.quote-image{
    width: 5.5rem;
}

.quote-para-container{
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* footer */
.footer{
    background-color: #1f2937;
    color: aqua;
    font-size: 1.3rem;
    padding: 2rem;
    text-align: center;
    line-height: 4rem;
}

.column1{
    line-height: 2rem;
}
/* contact */
.extra-box ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul .icon{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

/* respondive screen */

@media screen and (max-width: 426px) {
    .nav-bar-list{
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 426px) { 
    .heading{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    }
    .quote-image{
        width: 8rem;
    }
    .home-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        min-height: 30rem;
    }
    .left-box{
        width: 95%;
        height: auto;
        padding: 3rem;
    }
    .right-box{
        padding-top: 10rem;
    }
}